//! **************************************************************************
// Written by: Map P.20131013 on Thu Apr 07 22:23:44 2022
//! **************************************************************************

SCHEMATIC START;
COMP "leds<1>" LOCATE = SITE "N1" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "R2" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "R5" LEVEL 1;
COMP "puerto<1>" LOCATE = SITE "D3" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "puerto<2>" LOCATE = SITE "D5" LEVEL 1;
COMP "puerto<3>" LOCATE = SITE "C6" LEVEL 1;
COMP "puerto<4>" LOCATE = SITE "F9" LEVEL 1;
COMP "CLK" LOCATE = SITE "E7" LEVEL 1;
SCHEMATIC END;

